.displayContainer {
  height: 95%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.repoContainer {
  height: 25vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 3px 10px 32px -6px rgba(0, 0, 0, 0.75);
  margin: 25px;
  cursor: pointer;
  transition: 0.3s;
}
.repoContainer:hover {
  box-shadow: 3px 10px 32px 0px rgba(0, 0, 0, 0.75);
  transition: 0.3s;
}

.repoName {
  height: 25%;
  width: 100%;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 10px 31px -14px rgba(0, 0, 0, 0.75);
  transition: 0.3s;
}
.repoName:hover {
  box-shadow: 3px 10px 31px -5px rgba(0, 0, 0, 0.75);
  transition: 0.3s;
}
.repoBody {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  color: gray;
  text-align: center;
}
.repoLanguage {
  height: 40%;
  width: 100%;
  display: flex;
  font-weight: 500;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Error Page */

.errorContainer {
  height: 95%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.errorIcon {
  height: auto;
  width: 200px;
}
